{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form action="{{post_url}}" method="post">
        <h5 class="card-title">{{question_title}}</h5>
        {% for i in answers %}
        <div class="form-check">
            <input class="form-check-input" type="radio" value="{{i}}" name="answer" id="{{loop.index}}id">
            <label class="form-check-label" for="{{loop.index}}id">
                {{i}}
            </label>
        </div>
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-info">{{button_text}}</button>
    </form>
</div>
{% endblock %}